<%= simple_form_for(@local) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :direccion %>
    <%= f.input :telefono %>
    <%= f.input :celular %>
    <%= f.association :ciudad %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
