<%- model_class = Local -%>
<div class="page-header">

  <h1>Locales de comida</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:direccion) %></th>
      <th><%= model_class.human_attribute_name(:telefono) %></th>
      <th><%= model_class.human_attribute_name(:celular) %></th>
      <th><%= model_class.human_attribute_name(:ciudad_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><%= link_to local.id, local_path(local) %></td>
        <td><%= local.nombre %></td>
        <td><%= local.direccion %></td>
        <td><%= local.telefono %></td>
        <td><%= local.celular %></td>
        <td><%= local.ciudad.nombre %></td>
        <td><%=l local.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_local_path(local), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      local_path(local),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>                      

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_local_path,
            :class => 'btn btn-primary' %>
