<h1>Listing pedidodetalles</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Pedido</th>
      <th>Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidodetalles.each do |pedidodetalle| %>
      <tr>
        <td><%= pedidodetalle.estado %></td>
        <td><%= pedidodetalle.pedido %></td>
        <td><%= pedidodetalle.menu %></td>
        <td><%= link_to 'Show', pedidodetalle %></td>
        <td><%= link_to 'Edit', edit_pedidodetalle_path(pedidodetalle) %></td>
        <td><%= link_to 'Destroy', pedidodetalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedidodetalle', new_pedidodetalle_path %>
