<%- model_class = Menu -%>
<h1>Local menu</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:dateMenu) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:local_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= link_to menu.id, menu_path(menu) %></td>
        <td><%= menu.name %></td>
        <td><%= menu.dateMenu %></td>
        <td><%= menu.status %></td>
        <td><%= menu.price %></td>
        <td><%= menu.local_id %></td>
        <td><%=l menu.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_menu_path(menu), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      menu_path(menu),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <tr>
          <td colspan="8">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @type_menus.each do |type_menu| %>
                  <tr>
                    <td><h3>Tipo  de menu <%= type_menu.name %></h3></td>
                  </tr>
                  <tr>
                    <td>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Tipo Plato</th>
                            <th>Menu</th>
                            <th>Estado Menu</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% type_menu.menu_details.each do |menu_detail| %>
                            <tr>
                              <td><%= menu_detail.food.type_food.name %></td>
                              <td><%= menu_detail.food.name %></td>
                              <td><%= menu_detail.status %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </td>
                    
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        
      </tr>
    <% end %>
  </tbody>
</table>