    
  <div class="container">
      <div class="page-header">
          <%= image_tag "logo_header.jpg", :alt => "restaurant +", :title => "restaurant +"%>
    </div>
    <div class="navbar navbar-inverse"> 
        <ul class="nav navbar-nav"> 
                <li><%= link_to 'Inicio', home_index_path %></li> 
                <li class="active"><%= link_to 'Menu', menu_index_path %></li> 
                <li><%= link_to 'Galeria', gallery_index_path %></li> 
                <li><%= link_to 'Contacto', contact_index_path %></li> 
        </ul> 
    </div>
    <div><!--inicio cuerpo-->
    <p/>
    Ingrese sus datos para entregarle su pedido
    <p/>
        <div class="row">
          <div class="col-md-6">
              <%= image_tag "caprese.jpg", :alt => "Postre +", :title => "Postre +"%>
          </div>
          <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="txtDNI">DNI</label>
                    <input type="text" class="form-control" id="txtDNI" placeholder="Ingrese DNI">
                </div>
                <div class="form-group">
                    <label for="txtDatos">Datos</label>
                    <input type="text" class="form-control" id="txtDatos" placeholder="Ingrese Apellidos y nombres">
                </div>
                <div class="form-group">
                    <label for="txtCelular">Nro celular</label>
                    <input type="text" class="form-control" id="txtCelular" placeholder="Ingrese Nro de celular">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese correo">
                </div>
                
                <button type="button" class="btn btn-primary">Enviar pedido</button>
           </form>
          </div>
        </div>
    </div><!--fin cuerpo-->
    
  </div>

  

 
  
   <footer>
     <div class="container">
      <p>El buen sabor</p>
      <p>Contact information: <a href="mailto:contact@inkataste.com">
      mailto:contact@inkataste.com</a>.</p>
    </div>
  </footer> 

   




