<h1>Listing cartadetalles</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Cartacab</th>
      <th>Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartadetalles.each do |cartadetalle| %>
      <tr>
        <td><%= cartadetalle.estado %></td>
        <td><%= cartadetalle.cartacab %></td>
        <td><%= cartadetalle.menu %></td>
        <td><%= link_to 'Show', cartadetalle %></td>
        <td><%= link_to 'Edit', edit_cartadetalle_path(cartadetalle) %></td>
        <td><%= link_to 'Destroy', cartadetalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartadetalle', new_cartadetalle_path %>
