<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @cartadetalle.estado %>
</p>

<p>
  <strong>Carta:</strong>
  <%= @cartadetalle.carta %>
</p>

<%= link_to 'Edit', edit_cartadetalle_path(@cartadetalle) %> |
<%= link_to 'Back', cartadetalles_path %>
