<%- model_class = Cartadetalle -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:estado) %>:</strong></dt>
  <dd><%= @cartadetalle.estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:carta_id) %>:</strong></dt>
  <dd><%= @cartadetalle.carta_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              cartadetalles_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cartadetalle_path(@cartadetalle), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cartadetalle_path(@cartadetalle),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
