<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :apellidos %>
    <%= f.input :celular %>
    <%= f.input :correo %>
    <%= f.input :empresa %>
    <%= f.input :direccionenvio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
