<h1>Listing clientes</h1>

<table>
  <thead>
    <tr>
      <th>Dni</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Empresa</th>
      <th>Direccionenvio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.dni %></td>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.apellidos %></td>
        <td><%= cliente.celular %></td>
        <td><%= cliente.correo %></td>
        <td><%= cliente.empresa %></td>
        <td><%= cliente.direccionEnvio %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
