<h1>Listing pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Horapedido</th>
      <th>Horaentrega</th>
      <th>Estado</th>
      <th>Montopedido</th>
      <th>Cartacab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.fecha %></td>
        <td><%= pedido.horapedido %></td>
        <td><%= pedido.horaentrega %></td>
        <td><%= pedido.estado %></td>
        <td><%= pedido.montopedido %></td>
        <td><%= pedido.cartacab %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>
