<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @pedido.fecha %>
</p>

<p>
  <strong>Horapedido:</strong>
  <%= @pedido.horapedido %>
</p>

<p>
  <strong>Horaentrega:</strong>
  <%= @pedido.horaentrega %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pedido.estado %>
</p>

<p>
  <strong>Montopedido:</strong>
  <%= @pedido.montopedido %>
</p>

<p>
  <strong>Cartacab:</strong>
  <%= @pedido.cartacab %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
