<%- model_class = Cartacab -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:estado) %></th>
      <th><%= model_class.human_attribute_name(:precio) %></th>
      <th><%= model_class.human_attribute_name(:local_id) %></th>
      <th><%= model_class.human_attribute_name(:tipomenu_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cartacabs.each do |cartacab| %>
      <tr>
        <td><%= link_to cartacab.id, cartacab_path(cartacab) %></td>
        <td><%= cartacab.descripcion %></td>
        <td><%= cartacab.fecha %></td>
        <td><%= cartacab.estado %></td>
        <td><%= cartacab.precio %></td>
        <td><%= cartacab.local_id %></td>
        <td><%= cartacab.tipomenu_id %></td>
        <td><%=l cartacab.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cartacab_path(cartacab), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cartacab_path(cartacab),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cartacab_path,
            :class => 'btn btn-primary' %>
